# Ignorer tous les fichiers de données et résultats
archive/
resultats/
sources/

# Ignorer les fichiers temporaires et sauvegardes
*.bak
__pycache__/
.env
.ipynb_checkpoints/
*.txt
!requirements.txt
!README.md
!PV_DETAIL_*.txt
!RESUME_*.txt
git_log.txt
log.txt

!*.ipynb
